.gradient-custom-3 {
    /* fallback for old browsers */
    background: #042B0B;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #B6BFB7, #042B0B);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #B6BFB7, #042B0B);
  }
  
  .gradient-custom-4 {
    /* fallback for old browsers */
    background: #042B0B;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #B6BFB7, #042B0B);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #B6BFB7, #042B0B);
}

  